body {
    padding-top: 60px;
    padding-bottom: 40px;
}

*{
	font-family: 'Lekton', sans-serif;
}

h1{
	position: relative;
	left: -10000px;
	height: 0;
}
.hero-unit{
	background-image: url('http://traffic.ottawa.ca/map/camera?id=189&timems=1376689048102');
	background-size: 100% auto;
	background-color: blue;
	border-radius: none !important;
}
.logo{
}