/* ==========================================================================
   Jackpine's custom styles
   ========================================================================== */

body {
/*    padding-top: 60px;
    padding-bottom: 40px;*/
}

*{
	font-family: 'Lekton', 'Lucida Console', monospace;
}

h1{
	position: relative;
	left: -10000px;
	height: 0;
}
hr{
	border: 4px solid transparent;
}


.none{
	display: none !important;
}
.block{
	display: block !important;
}
.navbar .btn-navbar .icon-bar {
	display: block;
	width: 22px;
	height: 3px;
	background-color: yellow;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.hero-unit{
	background-image: url('http://traffic.ottawa.ca/map/camera?id=189&timems=1376689048102');
	background-size: 100% auto;
	background-color: blue;
	z-index: 3;
	-webkit-border-radius: 0 !important;
	   -moz-border-radius: 0 !important;
			border-radius: 0 !important;
}
.hero-unit a:hover{
	opacity: .5;
}

.hero-unit .header-content{
	position: relative;
	z-index: 4 !important;
	color: #fff;
	text-align: center;
}

.navbar{
	position: relative;
	z-index: 5 !important;
}
.header-content p{
	letter-spacing: 3px;
	padding: 0 0 50px 0;
}
.hero-unit .logo{
	width: 70%;
	padding: 0 15%;
}

.blue-tint{
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	margin: 0 !important;
	padding: 0;
	width: 100%;
	height: 360px;
	background-color: rgba(26,89,171,0.5);
}
.navbar{
	margin: 50px 0  20px;
}
.navbar .nav > li > a:after{
	content: " //";
}
.navbar .nav > li > a:hover{
	opacity: .5;
}
.navbar-inner {
	text-transform: uppercase;
	font-size: 1em;
	letter-spacing: 5px;
    background-color: transparent;
    background-image: none;
    background-repeat: repeat-x;
    border: 0 solid #fff;
    border-radius: 0;
    box-shadow: none;
    min-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.dropdown-menu {
    background-clip: padding-box;
    background-color: red;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: none;
    float: left;
    left: 0;
    list-style: none outside none;
    margin: 2px 0 0;
    min-width: 160px;
    padding: 5px 0;
    position: absolute;
    top: 100%;
    z-index: 1000;
}

.btn-group.open .btn.dropdown-toggle {
  background-color: red;
}

.btn-group.open .btn.dropdown-toggle {
  background-color:red;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  color:white;
  background-color:red;
}

.navbar .nav > li > a {
	color: white;
	float: none;
	padding: 10px 15px;
	text-decoration: none;
	text-shadow: 0 0px 0 #ffffff;
}

.navbar .brand {
	display: block;
	float: left;
	padding: 10px 20px 10px;
	margin-left: -20px;
	font-size: 20px;
	font-weight: 200;
	color: white;
	text-shadow: 0 0px 0 #ffffff;
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
	color: white;
	text-decoration: none;
	background-color: transparent;
}

.navbar-text {
	margin-bottom: 0;
	line-height: 40px;
	color: white;
}

.dropdown-menu li > a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 20px;
	color: white;
	white-space: nowrap;
}

.navbar-link {
	color: white;
}

.navbar-link:hover {
	color: white;
}

.hero-unit-scroll{
	width: 100%;
	display: none;
	height: 80px;
	position: fixed;	
	left: 0;
	padding: 0;
 	margin-bottom: 0;
}

.hero-unit-scroll .blue-tint{
	height: 80px;
}
.hero-unit-scroll .logo{
	float: left;
	display: block;
	width: 250px;
	height: auto;
	margin: 0;
	padding: 0 40px 0 50px;
}

.container{
	z-index: 100;
	position: relative;

}
.hero-unit-scroll .navbar-inner {
	text-transform: uppercase;
	font-size: 1.3em;
	letter-spacing: 5px;
    background-color: transparent;
    background-image: none;
    background-repeat: repeat-x;
    border: 0 solid #fff;
    border-radius: 0;
    box-shadow: none;
    min-height: 40px;
    
    padding: 20px;
}
.hero-unit-scroll .navbar{
	margin: 0;
	padding: 0;
}
.hero-unit-scroll .header-content{
	position: relative;
	z-index: 4 !important;
	color: #fff;
	float: left;
}
.hero-unit-scroll .blue-tint{
	background-color: rgba(26,89,171,.9);
}
.navbar .nav > li > a {
	color: white;
	float: none;
	padding: 10px 15px;
	text-decoration: none;
	text-shadow: 0 0px 0 #ffffff;
	background-color: rgba(26,89,171,.9);
}
@media (min-width: 980px){
	.hero-unit .navbar-inner {
		text-transform: uppercase;
		font-size: 1.2em;
		letter-spacing: 5px;
	}
	.hero-unit{
		height: 300px;
		margin: 0;
		padding: 30px 0;
	}
	.hero-unit-scroll .blue-tint{
		background-color: rgba(26,89,171,.9);
	}
	.navbar .nav > li > a {
		color: white;
		float: none;
		padding: 10px 15px;
		text-decoration: none;
		text-shadow: 0 0px 0 #ffffff;
		background-color: transparent;
		height: auto;
	}
}
@media (min-width:1200px){
	.hero-unit .blue-tint{
		height: 450px;
	}
	.hero-unit-scroll .blue-tint{
		background-color: rgba(26,89,171,.9);
	}
	.hero-unit .logo{
		padding: 50px 0;
	}
	.hero-unit{
		height: 390px;
		margin: 0;
		padding: 30px 0;
	}
	.hero-unit .navbar{
		margin: 0;
		padding: 80px 0 30px 160px;
	}
	.hero-unit .navbar-inner {
		text-transform: uppercase;
		font-size: 1.4em;
		letter-spacing: 5px;
	}
	.height-fix-300{
		height: 300px;
	}
}
